@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
   }

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
    display: block;
   }

   /* Force scrollbar */
   html { overflow-y: scroll; }

   /* Align radios and text inputs with their label */

   input[type='radio'] { vertical-align: text-bottom; }

   /* Hand cursor on clickable input elements */
   label,
   input[type='button'],
   input[type='submit'],
   button {
    cursor: pointer;
   }

   strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
   }

   em { font-style: italic; }

   img {
    border: 0;
    vertical-align: middle;
   }

   sub,
   sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
   }

   sup { top: -.7em; }

   sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
 }

 /* ======= Your styling goes below ======= */
 .container{font-family: sans-serif;}

 ul{list-style-type: none;}

header{
  position: fixed;
  width: 100%;
  z-index: 5;
}

header .wrapper {
  max-width: 1228px;
  width: 95.5%;
  margin: 0 auto;
}
header .wrapper nav{display: inline-block;}

header .wrapper nav ul{list-style-type:  none;}

header .wrapper nav ul li{
  padding-top: 15px;
  margin-right: 20px;
  display: inline-block;
}

header .wrapper nav ul li a{
  color: white ;
  font-family: sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
}
header .wrapper h1{
  text-indent: -9999px;
  display: inline-block;}

header .wrapper h1 a img{
  margin-left: 150px;
  float: left;
}
header .wrapper form{
  margin-right: 0px;
  display: inline-block;
  float: right;
  padding-top: 15px;
}
header .wrapper form input{
  border:none;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.6);
}


header .wrapper ul li:hover{border-top: 5px solid #4ac863;}

.banner {
  width: 100%;
  background-image:url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  }

.banner .wrapper{  
  max-width: 1228px;
  width: 95.5%;
  margin: 0 auto;
  padding-bottom: 16px;
  }

.banner .wrapper .eternal-happiness h2{
  padding-top: 302px;
  margin-bottom:50px;
  color: white;
  font-size: 61px;
  text-align: center;
  text-transform: capitalize;
  }

.banner .wrapper .eternal-happiness a{
  padding: 18px 28px;
  border-radius: 32px;
  margin-left: 481px;
  color: white;
  font-size: 26px;
  background-color: #4ac863;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;  
}

.banner .wrapper span{
  margin-top: 267px;
  margin-left: 540px;
  display: inline-block;
  text-align: center;
 background-color: rgba(255,255,255,0.6);
  padding: 9px 16px;
  font-size: 18px;
  border-radius: 20px;

}
.banner .wrapper span::after{
  content: url("../images/arrow-down.png");
  padding-left: 14px;

}
.we-do .wrapper{
max-width: 1228px;
  width: 95.5%;
  margin: 0 auto;
}
.we-do .wrapper h3{
  margin-top: 49px;
  margin-bottom: 33px;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
}

.we-do .wrapper span{
  margin-bottom: 78px;
  display: block;
  text-align: center;
}
.we-do .wrapper ul{
  width: 100%;
  padding-bottom: 71px;
}

.we-do .wrapper ul li{
  width: 33%;
  display: inline-block; 
  text-align:  center;
}
.we-do .wrapper ul li h4{
margin-top: 30px;
margin-bottom: 24px;
}

.we-do .wrapper ul li p{
    width: 70%;
    padding-left: 75px;
    margin-bottom: 30px;
}
.we-do .wrapper ul li a{
  color: white;
  text-decoration: none;
  background-color: #4ac863;
  padding: 14px 23px;
  border-radius: 22px;
}
.latest-work{background-color: #84de95;}

.latest-work .wrapper{
  max-width: 1228px;
  width: 95.5%;
  margin: 0 auto;
}
.latest-work .wrapper h5{
  padding-top: 50px;
  color: #007d25;
  letter-spacing: 3px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
.latest-work .wrapper span{
  margin-top: 54px;
  margin-bottom: 64px;
  display: block;
  color: #007d25;
  text-align: center;
}
.latest-work .wrapper .sections{
  border-radius: 21px;
  border:1px solid #007d25;
  margin-left: 494px; 
  margin-bottom: 98px;
  display: inline-block;
  background-color: white;
  }

.latest-work .wrapper .sections li{
   padding: 12px 23px; 
  display: inline-block;

}
.latest-work .wrapper .sections li:nth-child(n):nth-child(-n+2){
  border-right: 1px solid #007d25;
}

.latest-work .wrapper .sections li a{
  display: inline-block;
  color:#4ac863;
  text-decoration: none;
  text-transform: capitalize;
}
.latest-work .wrapper .sections li:hover{
  background-color: #007d25;
  box-sizing: content-box;
  border-radius: 10px;
}

.latest-work .wrapper .photos{display: inline-block;} 


.latest-work .wrapper .photos li{
display: inline-block;
width: 177px;
}
.latest-work .wrapper .photos li img {width: 100%}

.latest-work .wrapper .photos li:nth-child(n):nth-child(-n+10){
  margin-left: 37px;
  margin-bottom: 33px;
}
.latest-work .wrapper  > a{
  padding: 14px 17px;
  border-radius: 24px;
  margin-top: 61px;
  margin-left: 544px;
  margin-bottom: 59px;
  display: inline-block;
  background-color: #4ac863;
  color: white;
  font-size: 21px;
  text-decoration: none; 
}
.latest-work .wrapper  > a:after{
  content: url("../images/arrow-right.png");
  padding-left: 10px;
}